<p id="notice"><%= notice %></p>

<p>
  <b>Credit rating:</b>
  <%= @account_history.credit_rating %>
</p>
<%#= link_to 'Edit', edit_account_history_path(@account_history) %> 
<%#= link_to 'Back', account_histories_path %>
